<component name="libraryTable">
  <library name="mybatis-generator-core-1.3.2">
    <CLASSES>
      <root url="jar://$USER_HOME$/Downloads/softwre/mybatis_plus/lib/mybatis-generator-core-1.3.2.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/softwre/mybatis_plus/lib/mybatis_plus.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/softwre/mybatis_plus/lib/ref.idea.common-1.0.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>