<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="spring-mybatis.xml"/>
    <!--<import resource="spring-quartz.xml"/>-->
    <!--<import resource="spring-redis.xml"/>-->
    <!--<import resource="spring-mongo.xml"/>-->

    <bean id="car" class="com.my.example.dashboard.test.CarFactoryBean">
        <property name="carInfo" value="法拉利,400,2000000"/>
    </bean>

</beans>